.container {
  border: solid 2px red;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  align-content: center;

  gap: 10px;

  text-align: center;
}

.item {
  border: solid 2px red;

  cursor: pointer;

  margin: 1%;
  padding: 2%;
  flex: 1 1 200px;

  max-width: 70px;
  border-radius: 50px;
  min-height: 15px;
  color: #0d0c22;
}

.register {
  background-color: #0d0c22;
  color: #ffffff;
}

.logo {
}
