@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Merriweather", serif;
  }
  h1 {
    @apply text-[48px] font-bold;
  }
  h2 {
    @apply text-[24px] font-bold;
  }
  h3 {
    @apply font-bold;
  }
  input {
    @apply border-2 border-very_light_gray focus:outline-none 
    rounded-xl 
    p-4 
    
    h-14 
    
    text-near_black 
    w-full;
  }
  label {
    @apply block mt-5 mb-2;
  }
}

@layer components {
  .nav_gap {
    @apply gap-x-2 gap-y-3;
  }

  .nav_container {
    @apply flex flex-wrap 

        justify-center 
        items-center

        nav_gap
        p-6;
  }

  .nav_item {
    @apply flex flex-grow flex-shrink 

     justify-center 
     items-center 

     rounded-full

     truncate

     p-3
     h-14;
  }

  .btn {
    @apply border border-solid rounded-full
     
    flex
    flex-grow flex-shrink 

    justify-center 
    items-center 

    truncate

    p-5
    my-7

    w-full;
  }

  .small_btn {
    @apply border border-solid rounded-full
    flex
    flex-grow flex-shrink 

    w-[50px]
    h-[50px]

    justify-center 
    items-center 

    truncate

    p-5;
  }

  .btn_dark {
    @apply text-near_white 
    border-near_black bg-near_black  
    hover:bg-light_near_black hover:border-light_near_black
    transition duration-1000 
    hover:duration-500;
  }

  .btn_light {
    @apply text-near_black 
    bg-[#fff] border-[#fff]
    hover:bg-[#fff] hover:border-[#fff]
    transition duration-1000 hover:duration-500;
  }

  .btn_disabled {
    @apply text-near_white 
    bg-light_near_black border-light_near_black 
    transition duration-1000 hover:duration-500;
  }

  .btn_dark_secondary {
    @apply text-near_white 
    border-near_black bg-near_black;
  }

  .btn_colored {
    @apply text-near_black
    border-blue bg-blue 
    hover:bg-light_blue hover:border-light_blue;
  }

  .form_margin {
    @apply mb-9 mt-9 ml-5 mr-5;
  }

  /* .text_border {
    text-shadow:
     -1px -1px 0 #f8f7f4,  
      1px -1px 0 #f8f7f4,
      -1px 1px 0 #f8f7f4,
       1px 1px 0 #f8f7f4;
  } */

  .text_border {
    text-shadow: 0 0 5px #f8f7f4, 0 0 5px #f8f7f4, 0 0 5px #f8f7f4,
      0 0 5px #f8f7f4;
  }
}

.bg_gradient_1 {
  background: linear-gradient(to right, #82fff6, #d2b7ff, #ffe0af, #ffb9d1);
}
