@tailwind base;
@tailwind components;
@tailwind utilities;
/* Merriweather */
@layer base {
  body {
    font-family: "Lora", serif;
  }
  /* h1 {
    @apply text-[48px] font-bold;
  } */
  h2 {
    @apply text-[26px] font-bold;
  }
  h3 {
    @apply font-bold;
  }
  input {
    @apply border-2 border-very_light_gray focus:outline-none 
    rounded-xl 
    p-4 
    
    h-14 
    
    text-near_black 
    w-full;
  }
  /* label {
    @apply block mt-5 mb-2;
  } */
}

@layer components {
  .nav_gap {
    @apply gap-x-2 gap-y-3;
  }

  .nav_container {
    @apply flex flex-wrap w-full

        justify-center 
        items-center

        nav_gap
        p-6;
  }

  .nav_item {
    @apply flex flex-grow flex-shrink remove_tap_highlight

     justify-center 
     items-center 

     rounded-full w-max

     break-words

     p-3
     h-14;
  }

  .btn {
    @apply border border-solid rounded-full remove_tap_highlight
     
    flex
    flex-grow flex-shrink 

    justify-center 
    items-center 

    break-all

    p-5
    my-7

    w-full;
  }

  .btn_dark {
    @apply text-near_white 
    border-near_black bg-near_black  
    hover:bg-light_near_black hover:border-light_near_black
    transition duration-1000 
    hover:duration-500;
  }

  .btn_light {
    @apply text-near_black 
    bg-[#fff] border-[#fff]
    hover:bg-[#fff] hover:border-[#fff]
    transition duration-1000 hover:duration-500;
  }

  .btn_disabled {
    @apply text-near_white 
    bg-light_near_black border-light_near_black 
    transition duration-1000 hover:duration-500;
  }

  .btn_dark_secondary {
    @apply text-near_white 
    border-near_black bg-near_black;
  }

  .btn_colored {
    @apply text-near_black
    border-blue bg-blue 
    hover:bg-light_blue hover:border-light_blue;
  }

  .form_margin {
    @apply mb-9 mt-9 ml-5 mr-5;
  }

  .remove_tap_highlight {
    @apply cursor-default sm:cursor-pointer;
  }

  .outer_box_style {
    @apply relative rounded-xl shadow-lg;
  }

  .box_style {
    @apply absolute inset-0 
      
    rounded-xl 

    bg-gradient-to-r from-pink-500 to-violet-500 
    opacity-30 

    transition duration-1000 

    group-hover:opacity-40 
    group-hover:duration-500 
    group-hover:scale-101

    group-focus-within:opacity-40 
    group-focus-within:duration-500 
    group-focus-within:scale-101;
  }

  .loader_with_block {
    @apply bg-white opacity-70 rounded-xl w-full h-full absolute z-50 flex justify-center items-center 

    transition duration-1000 

     
    group-hover:duration-500 
    group-hover:scale-101

     
    group-focus-within:duration-500 
    group-focus-within:scale-101;
  }

  .box_content_transition {
    @apply relative
        
    transition duration-1000 

    group-hover:duration-500 
    group-hover:scale-101

    group-focus-within:duration-500 
    group-focus-within:scale-101;
  }

  .box_icons {
    @apply mr-0 mx-auto justify-self-end gap-x-2 flex justify-center items-start;
  }

  /* .text_border {
    text-shadow:
     -1px -1px 0 #f8f7f4,  
      1px -1px 0 #f8f7f4,
      -1px 1px 0 #f8f7f4,
       1px 1px 0 #f8f7f4;
  } */

  .text_border {
    text-shadow: 0 0 5px #f8f7f4, 0 0 5px #f8f7f4, 0 0 5px #f8f7f4,
      0 0 5px #f8f7f4;
  }
}

.bg_gradient_1 {
  background: linear-gradient(to right, #82fff6, #d2b7ff, #ffe0af, #ffb9d1);
}
